<html>
  <head>
    <title>SQRL::Check::Web</title>
  </head>
  <body>
    <div>
      <h2>About SQRL</h2>
      <p>SQRL (pronounced squirrel) is a proposed authentication (login) method makes logging in as easy as scannign a QR code, while avoiding most of the pitfalls passwords.</p>
      <ul>
        <li><a href="http://sqrl.pl/">sqrl.pl</a> has some illustrated guides</li>
        <li><a href="https://www.grc.com/sqrl/sqrl.htm">GRC</a> has the provisonal technical details</li>
      </ul>
      <h2>About this test server</h2>
      <p>This service allows you to run a test suite against a publicly accessible SQRL server and view the results online</p>
    </div>
  </body>
</html>
