<html>
  <head>
    <title>SQRL::Check::Web</title>
  </head>
  <body>
    <div>
      <h2>About SQRL</h2>
      <p>SQRL (pronounced squirrel) is a proposed authentication (login) method makes logging in as easy as scanning a QR code, while avoiding most of the pitfalls passwords.</p>
      <ul>
        <li><a href="http://sqrl.pl/">sqrl.pl</a> has some illustrated guides</li>
        <li><a href="https://www.grc.com/sqrl/sqrl.htm">GRC</a> has the provisonal technical details</li>
      </ul>
      <h2>About this test server</h2>
      <p>This service allows you to run a test suite against a publicly accessible SQRL server and view the results online</p>
      <form method="get" action="/results">
        <div>
          <label for="target_url">
            HTML URL that contains nonced SQRL URL<br/>
            <input type="text" size="40" id="target_url" name="target_url" placeholder="https://"/>
          </label>
        </div>
        <div>
          <label for="signed_cert">
            <input type="checkbox" id="signed_cert" name="signed_cert"/>
            Check TLS certificate signing chain
          </label>
        </div>
        <input type="submit" value="Run">
      </form>
    </div>
  </body>
</html>
