<p id="waiting" class="alert alert-info" role="alert">Waiting.</p>
<script>
  var poll = function() {
    var req = new XMLHttpRequest()
    req.onreadystatechange = function() {
      if (this.readyState == 4) {
        if (this.status == 204) {
          location.reload()
        } else {
          setTimeout(poll, 1000)
        }
      }
    }
    req.open("GET", location.pathname + '/poll', true)
    req.send()
    document.getElementById('waiting').appendChild(new Text('.'))
  }
  poll()
</script>
