<html>
  <head>
    <title>SQRL::Check::Web Results Missing</title>
    <style>
      .result .title { font-weight: normal; }
    </style>
  </head>
  <body>
    <h2>Results Missing</h2>
    <p>The data has probably expired. Results are removed after one hour.</p>
  </body>
</html>
