<html>
  <head>
    <title>SQRL::Check::Web Waiting for Results</title>
    <style>
      .result .title { font-weight: normal; }
    </style>
  </head>
  <body>
    <h2><%= Rack::Utils.escape_html target_url %></h2>
    <p>Waiting....</p>
  </body>
</html>
